source "Kconfig"

menu "STCP Configuration"

config STCP_ENABLE
    bool "Enable STCP LTE transport"
    default y
    depends on NET_SOCKETS   # esimerkki: riippuvuudet kernelistä
    help
      Enable STCP LTE transport.

config STCP_DEBUG
    bool "Enable STCP debug"
    default n
    depends on STCP_ENABLE   # esimerkki: riippuvuudet kernelistä
    help
      Enable STCP debugs.

config STCP_AES_BYPASS
    bool "Enable STCP AES bypass"
    default n
    depends on STCP_ENABLE   # esimerkki: riippuvuudet kernelistä
    help
      Bypass AES enc/decryption for development purposes.

endmenu
