[build]
target = "mun.json"

[unstable]
build-std = ["core", "alloc"]
build-std-features = ["compiler-builtins-mem"]

[target."mun.json"]
rustflags = [
    "-C", "panic=abort",
    "-C", "relocation-model=static",
    "-C", "code-model=kernel",
    "-C", "link-arg=-nostartfiles",
    "-C", "link-arg=-nodefaultlibs",
    "-C", "embed-bitcode=no",
    "-C", "lto=no",
    "-Z", "no-redzone=yes",
    "-C", "force-frame-pointers=yes",
    "-C", "llvm-args=-stackrealign",
    "-Ctarget-feature=-sse",
    "-Ctarget-feature=-sse3",
    "-Ctarget-feature=-ssse3",
    "-Ctarget-feature=-sse4.1",
    "-Ctarget-feature=-sse4.2",
    "-Ctarget-feature=-avx",
    "-Ctarget-feature=-avx2",
]

[profile.release]
opt-level = 0
lto = true
codegen-units = 1
panic = "abort"

