# Load Zephyr Arch Kconfig descriptions.
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/rx/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/x86/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/xtensa/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/sparc/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/riscv/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/posix/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/mips/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/arm64/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/arm/Kconfig"
osource "/home/pomo/git/STCP/STCPv2/zephyr/nordic/ncs-3.3.0/zephyr/arch/arc/Kconfig"
